* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.numeri {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.numeri h3 {
    font-size: 35px;
}

.loading {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#count_2 {
    display: none;
}