* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.numeri {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.numeri h3 {
    font-size: 35px;
}
#count {
    color: red;
    font-size: 50px;
}

.loading {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#count_2 {
    display: none;
}
.loading h2 {
    text-transform: uppercase;
    font-size: 40px;
}

#count_2 {
    color: red;
}
#risultato {
    color: green;
}